<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
    {{#users}}
    <div class="users">
        <img src="{{ avatar }}" alt="employee pic">
        <h2>{{ name }}</h2>
        <p>{{ job }} {{ company }}</p>
        {{#job}}
        <p>{{ job }}</p> {{/job}} {{^job}}
        <p id="forHire">Available for hire!</p> {{/job}}
    </div>
    {{/users}}

</body>

</html>