<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="user1">
        <img class="user1image" src="{{ avatar }}" alt="employee pic">
        <p id="name">{{ name }}</p>
        <p class="info">{{ address.city }} {{ address.country }} | {{ job }} {{ company }}</p>
        <p class="info">{{ email }} | {{ phone }}</p>
        <br>
        <p>{{ university }}</p>
        <p>{{ skills }}</p>

    </div>
</body>

</html>